/* Prevent scrolling on mobile and desktop */

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  overscroll-behavior: none;
  touch-action: none;
}

#root {
  min-height: 100%;
  min-width: 100%;
}

@media (max-width: 768px) {
  html, body, #root {
    overflow: hidden !important;
    position: fixed !important;
    top: 0;
    left: 0;
    height: 100vh !important;
    width: 100vw !important;
  }
}
